.translated {
    display: inline-block !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    padding: 0px 2px !important;
}

.translated:hover {
    cursor: pointer;
    border: 3px solid rgb(52, 52, 52);
}

.new-word {
    background-color: rgb(250, 182, 182) !important;
    border-color: rgb(250, 182, 182);
    color: rgb(157, 2, 2) !important;
}

.practicing {
    background-color: rgb(252, 214, 197) !important;
    border-color: rgb(252, 214, 197);
    color: rgb(145, 94, 0) !important;
}

.learned-word {
    background-color: rgb(250, 197, 255) !important;
    border-color: rgb(250, 197, 255);
    color: purple !important;
}

.semi-fluent {
    background-color: rgb(198, 205, 255) !important;
    border-color: rgb(198, 205, 255);
    color: rgb(64, 0, 128) !important;
}

.fluent {
    background-color: rgb(197, 241, 255) !important;
    border-color: rgb(197, 241, 255);
    color: rgb(0, 0, 121) !important;
}

.mastered {
    background-color: rgb(197, 197, 197) !important;
    border-color: rgb(197, 197, 197);
    color: black !important;
}


.ERROR {
    background-color: black !important;
    border-color: black;
    color: red !important;
}





#vocab-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed !important;
    z-index: 99999;
    right: 10px !important;
    top: 5px !important;
}

#vocab-settings div {
    width: 100%;
    font-size: 8pt;
}

#settings-icon {
    background-color: rgb(141, 141, 141) !important;
    border-radius: 10px;
    padding: 3px 7px;

    text-align: center;

    color: white;
    opacity: 0.3;
}

#settings-icon:hover {
    cursor: pointer;
    opacity: 1;
}

#settings-edit-vocab-container {
    margin-top: 5px;
}

#settings-edit-vocab-container input {
    display: block;
}

#notifications div {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

#notifications div:hover {
    cursor: pointer;
}



.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.display-block {
    display: block;
}



.button {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    padding: 5px 0;
}

.grey-button {
    background-color: rgb(159, 159, 159);
    color: rgb(85, 85, 85);
}
.grey-button:hover {
    background-color: rgb(91, 91, 91);
    color: white;
}

.yellow-button {
    background-color: rgb(236, 237, 190);
    color: black;
}
.yellow-button:hover {
    background-color: rgb(128, 103, 64);
    color: white;
}

.green-button {
    background-color: rgb(190, 237, 209);
    color: black;
}
.green-button:hover {
    background-color: rgb(59, 110, 55);
    color: white;
}

.red-button {
    background-color: rgb(237, 190, 190);
    color: black;
}
.red-button:hover {
    background-color: rgb(151, 76, 76);
    color: white;
}

.exit-button {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    border-radius: 10px;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 8px;
    padding-top: 7px;
}
.exit-button:hover {
    background-color: rgb(141, 48, 48);
    color: rgb(253, 121, 121);
}



.popup {
    display: flex;
    max-width: 50vw;
    max-height: 90vh;
    overflow: scroll;
}

.recommendation-token {
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    opacity: 0.7;
}

.recommendation-token:hover {
    cursor: pointer;

    border: 1px solid rgb(38, 38, 38);
    background-color:rgb(38, 38, 38);
    color: white;
    opacity: 1;
}




.toaster {
    display: block;
    position: fixed !important;
    z-index: 99999;
    padding: 20px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 10px;
    background-color: white;
    font-size: 10pt;
}

.success {
    background-color: rgb(199, 237, 199);
}
.failure {
    background-color: rgb(237, 199, 199);
}
.neutral {
    background-color: rgb(227, 217, 177);
}



.hidden {
    display: none !important;
}